
<mat-card class = "card-details" *ngIf="userDetails">
    <mat-card-header>
      <mat-card-title>{{userDetails.name}}</mat-card-title>
      <mat-card-subtitle>{{userDetails.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{userDetails.company.catchPhrase}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button> <a class = "action-link" [routerLink] ="['/users/edit', userDetails.id]"> Edit </a> </button>
      <button mat-button> <a class = "action-link" [routerLink] ="['/users/delete', userDetails.id]"> Delete </a> </button>
    </mat-card-actions>
  </mat-card>